src/main/resources/calculator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/demospringwithsoap"
           elementFormDefault="qualified">
    <xs:element name="PlusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numberA" type="xs:int"/>
                <xs:element name="numberB" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PlusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>